<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.YtAdminUserMapper">
    
    <resultMap type="YtAdminUser" id="YtAdminUserResult">
        <result property="id"    column="id"    />
        <result property="username"    column="username"    />
        <result property="password"    column="password"    />
        <result property="mobile"    column="mobile"    />
        <result property="email"    column="email"    />
        <result property="status"    column="status"    />
        <result property="create_time"    column="create_time"    />
        <result property="last_login_time"    column="last_login_time"    />
        <result property="last_login_ip"    column="last_login_ip"    />
        <collection  property="roles"   javaType="java.util.List"           resultMap="YtAuthGroupResult" />
    </resultMap>

<!--    <resultMap id="RoleResult" type="SysRole">-->
<!--        <id     property="roleId"       column="role_id"        />-->
<!--        <result property="roleName"     column="role_name"      />-->
<!--        <result property="roleKey"      column="role_key"       />-->
<!--        <result property="roleSort"     column="role_sort"      />-->
<!--        <result property="dataScope"     column="data_scope"    />-->
<!--        <result property="status"       column="role_status"    />-->
<!--    </resultMap>-->

    <resultMap type="YtAuthGroup" id="YtAuthGroupResult">
        <result property="id"    column="yagid"    />
        <result property="title"    column="title"    />
        <result property="status"    column="yagstatus"    />
        <result property="rules"    column="rules"    />
        <result property="remarks"    column="remarks"    />
    </resultMap>

    <sql id="selectYtAdminUserVo">
        select yt.id, yt.username, yt.password, yt.mobile, yt.email, yt.status, yt.create_time, yt.last_login_time, yt.last_login_ip,
        yag.id as yagid, yag.title, yag.status as yagstatus, yag.rules, yag.remarks as role_status
         from yt_admin_user yt
		    left join yt_auth_group_access ur on yt.id = ur.uid
		    left join yt_auth_group yag on yag.id = ur.group_id
--         ORDER BY yt.id
    </sql>

    <select id="selectYtAdminUserList" parameterType="YtAdminUser" resultMap="YtAdminUserResult">
        <include refid="selectYtAdminUserVo"/>
        <where>  
            <if test="username != null  and username != ''"> and yt.username = #{username}</if>
            <if test="password != null  and password != ''"> and yt.password = #{password}</if>
            <if test="mobile != null  and mobile != ''"> and yt.mobile = #{mobile}</if>
            <if test="email != null  and email != ''"> and yt.email = #{email}</if>
            <if test="status != null "> and yt.status = #{status}</if>
            <if test="last_login_time != null "> and yt.last_login_time = #{last_login_time}</if>
            <if test="last_login_ip != null  and lastLoginIp != ''"> and yt.last_login_ip = #{last_login_ip}</if>
        </where>
        order by yt.id
    </select>

    <select id="selectUserByUserName" parameterType="String" resultMap="YtAdminUserResult">
        <include refid="selectYtAdminUserVo"/>
        where yt.username = #{userName}
    </select>
    
    <select id="selectYtAdminUserById" parameterType="Long" resultMap="YtAdminUserResult">
        <include refid="selectYtAdminUserVo"/>
        where yt.id = #{id}
    </select>
        
    <insert id="insertYtAdminUser" parameterType="YtAdminUser" useGeneratedKeys="true" keyProperty="id">
        insert into yt_admin_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null and username != ''">username,</if>
            <if test="password != null and password != ''">password,</if>
            <if test="mobile != null">mobile,</if>
            <if test="email != null">email,</if>
            <if test="status != null">status,</if>
            <if test="create_time != null">create_time,</if>
            <if test="last_login_time != null">last_login_time,</if>
            <if test="last_login_ip != null">last_login_ip,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null and username != ''">#{username},</if>
            <if test="password != null and password != ''">#{password},</if>
            <if test="mobile != null">#{mobile},</if>
            <if test="email != null">#{email},</if>
            <if test="status != null">#{status},</if>
            <if test="create_time != null">#{create_time},</if>
            <if test="last_login_time != null">#{last_login_time},</if>
            <if test="last_login_ip != null">#{last_login_ip},</if>
         </trim>
    </insert>

    <update id="updateYtAdminUser" parameterType="YtAdminUser">
        update yt_admin_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="mobile != null">mobile = #{mobile},</if>
            <if test="email != null">email = #{email},</if>
            <if test="status != null">status = #{status},</if>
            <if test="create_time != null">create_time = #{create_time},</if>
            <if test="last_login_time != null">last_login_time = #{last_login_time},</if>
            <if test="last_login_ip != null">last_login_ip = #{last_login_ip},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteYtAdminUserById" parameterType="Long">
        delete from yt_admin_user where id = #{id}
    </delete>

    <delete id="deleteYtAdminUserByIds" parameterType="String">
        delete from yt_admin_user where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>