<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.YtAuthGroupMapper">

    <resultMap type="YtAuthGroup" id="YtAuthGroupResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="status"    column="status"    />
        <result property="rules"    column="rules"    />
        <result property="remarks"    column="remarks"    />
    </resultMap>

    <sql id="selectYtAuthGroupVo">
        select id, title, status, rules, remarks from yt_auth_group
    </sql>

    <select id="selectYtAuthGroupList" parameterType="YtAuthGroup" resultMap="YtAuthGroupResult">
        <include refid="selectYtAuthGroupVo"/>
        <where>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="rules != null  and rules != ''"> and rules = #{rules}</if>
            <if test="remarks != null  and remarks != ''"> and remarks = #{remarks}</if>
        </where>
    </select>

    <select id="selectYtAuthGroupById" parameterType="Integer" resultMap="YtAuthGroupResult">
        <include refid="selectYtAuthGroupVo"/>
        where id = #{id}
    </select>

    <insert id="insertYtAuthGroup" parameterType="YtAuthGroup" useGeneratedKeys="true" keyProperty="id">
        insert into yt_auth_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">title,</if>
            <if test="status != null">status,</if>
            <if test="rules != null">rules,</if>
            <if test="remarks != null and remarks != ''">remarks,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">#{title},</if>
            <if test="status != null">#{status},</if>
            <if test="rules != null">#{rules},</if>
            <if test="remarks != null and remarks != ''">#{remarks},</if>
        </trim>
    </insert>

    <update id="updateYtAuthGroup" parameterType="YtAuthGroup">
        update yt_auth_group
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="status != null">status = #{status},</if>
            <if test="rules != null">rules = #{rules},</if>
            <if test="remarks != null and remarks != ''">remarks = #{remarks},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteYtAuthGroupById" parameterType="Integer">
        delete from yt_auth_group where id = #{id}
    </delete>

    <delete id="deleteYtAuthGroupByIds" parameterType="String">
        delete from yt_auth_group where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>