<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.yt.YtServiceMapper">

    <resultMap type="com.ruoyi.system.domain.yt.YtService" id="YtServiceResult">
        <result property="id"    column="id"    />
        <result property="user_id"    column="user_id"    />
        <result property="machine_id"    column="machine_id"    />
        <result property="machine_code"    column="machine_code"    />
        <result property="machine_name"    column="machine_name"    />
        <result property="user_machine_id"    column="user_machine_id"    />
        <result property="pond_id"    column="pond_id"    />
        <result property="contact"    column="contact"    />
        <result property="phone"    column="phone"    />
        <result property="content"    column="content"    />
        <result property="create_time"    column="create_time"   jdbcType="INTEGER" typeHandler="com.ruoyi.system.handle.LocalDateTimeTypeHandler"   />
        <result property="update_time"    column="update_time"    jdbcType="INTEGER" typeHandler="com.ruoyi.system.handle.LocalDateTimeTypeHandler"  />


        <association property="userInfo" javaType="com.ruoyi.system.domain.yt.YtUser">
            <result property="id"    column="id"    />
            <result property="nickname"    column="nickname"    />
            <result property="phone"    column="phone"    />
            <result property="avatar"    column="avatar"    />
        </association>

    </resultMap>

    <sql id="selectYtServiceVo">
        select id, user_id, machine_id, machine_code, machine_name, user_machine_id, pond_id, contact, phone, content, create_time, update_time from yt_service
    </sql>

    <select id="selectYtServiceList" parameterType="com.ruoyi.system.domain.yt.YtService" resultMap="YtServiceResult">

        select yt_service.id, user_id, machine_id, machine_code, machine_name, user_machine_id, pond_id, contact, yt_service.phone, content, yt_service.create_time, yt_service.update_time,
               yt_user.id,yt_user.nickname,yt_user.phone,yt_user.avatar
        from yt_service
        INNER JOIN yt_user ON yt_service.user_id = yt_user.id

    </select>

</mapper>