<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--数据库的和实体的映射文件-->
<mapper namespace="com.ruoyi.system.mapper.MemberMapper">
<!--    构建一个结果映射，然后后面使用-->
    <resultMap id="MemberMapper" type="com.ruoyi.system.domain.Member">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="openid" property="openid"/>
        <result column="phone" property="phone"/>
        <result column="status" property="status"/>
        <result column="sex" property="sex"/>
        <result column="avatar" property="avatar"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="district" property="district"/>
        <result column="country" property="country"/>
        <result column="create_time" property="create_time" jdbcType="INTEGER" typeHandler="com.ruoyi.system.handle.LocalDateTimeTypeHandler"/>
    </resultMap>

    <select id="getMemberPage" resultMap="MemberMapper">
        SELECT * FROM yt_user ORDER BY id DESC
    </select>
</mapper>