<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.yt.YtMachineErrorLogMapper">
    
    <resultMap type="com.ruoyi.system.domain.yt.YtMachineErrorLog" id="YtMachineErrorLogResult">
        <result property="id"    column="id"    />
        <result property="user_machine_id"    column="user_machine_id"    />
        <result property="pond_id"    column="pond_id"    />
        <result property="pond_title"    column="pond_title"    />
        <result property="machine_id"    column="machine_id"    />
        <result property="machine_code"    column="machine_code"    />
        <result property="machine_name"    column="machine_name"    />
        <result property="IMEI"    column="IMEI"    />
        <result property="error_reason"    column="error_reason"    />
        <result property="error_type"    column="error_type"    />
        <result property="status"    column="status"    />
        <result property="solve"    column="solve"    />
        <result property="solve_time"    column="solve_time" jdbcType="INTEGER" typeHandler="com.ruoyi.system.handle.LocalDateTimeTypeHandler"    />
        <result property="note"    column="note"    />
        <result property="error_code"    column="error_code"    />
        <result property="create_time"    column="create_time"  jdbcType="INTEGER" typeHandler="com.ruoyi.system.handle.LocalDateTimeTypeHandler"  />
        <result property="update_time"    column="update_time"  jdbcType="INTEGER" typeHandler="com.ruoyi.system.handle.LocalDateTimeTypeHandler"  />
    </resultMap>

    <sql id="selectYtMachineErrorLogVo">
        select id, user_machine_id, pond_id, pond_title, machine_id, machine_code, machine_name, IMEI, error_reason, error_type, status, solve, solve_time, note, error_code, create_time, update_time from yt_machine_error_log
    </sql>

    <select id="selectYtMachineErrorLogByMachineCode" parameterType="String" resultMap="YtMachineErrorLogResult">
        <include refid="selectYtMachineErrorLogVo"/>
        where machine_code = #{machineCode}
    </select>
</mapper>